venv/
venv-deploy/
__pycache__/
*.pyc
.vscode/
.DS_Store
.ipynb_checkpoints/

model/*
!model/best_model_basemodel.keras
!model/class_labels.json
!model/ambang_pemeriksaan.json
!model/fitur_acuan.npy

*.jpg
*.jpeg
*.png
diagnostik_streamlit.py